@{
    ViewData["Title"] = "Често задавани въпроси";
}

<div class="faq-container">
    <div class="faq-header">Често задавани въпроси</div>
    <div class="faq-item">
        <h3>Колко коня е Голфа?</h3>
        <p>Всичките.</p>
    </div>

    <div class="faq-item">
        <h3>Има ли дизел бегачка?</h3>
        <p>Не!</p>
    </div>

    <div class="faq-item">
        <h3>Дизел или бензин?</h3>
        <p>Бензин само на Емануела.</p>
    </div>

</div>
